<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="./bundle/app.js"></script>

    <script>
        new TicTacToe.TicTacToe({
            areaElement: document.body
        }).start();
    </script>
</body>
</html>